# Exercise 1 

In this exercise, we will practice how to apply the pandas `apply()` function on the `diamonds.csv` file. The `diamonds.csv` dataset contains the prices and other characteristics of almost 54,000 diamonds. For more information, see this [link](https://www.kaggle.com/datasets/shivam2503/diamonds).

### Exercise 1(a) (2 points)

Load `pandas` and `numpy`.

In [1]:
import pandas as pd
import numpy as np

### Exercise 1(b) (2 points)

Read the `diamonds` data file, and create a data frame called `diamonds`.

In [21]:
diamonds = pd.read_csv('diamonds.csv')
diamonds.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

### Exercise 1(c) (2 points)

Create a lambda function called `carat_flag` that flags diamonds with `carat` values greater than 2.

In [22]:
carat_flag = lambda x: x > 2

### Exercise 1(d) (2 points)

Create a new column `flagging_carat`, using `apply`, that stores the value of `carat_flag` applied to `carat` column.

In [23]:
diamonds['flagging_carat'] = diamonds['carat'].apply(carat_flag)
diamonds[diamonds['flagging_carat'] == True].head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,flagging_carat
12246,12247,2.06,Premium,J,I1,61.2,58.0,5203,8.10,8.07,4.95,True
13002,13003,2.14,Fair,J,I1,69.4,57.0,5405,7.74,7.70,5.36,True
13118,13119,2.15,Fair,J,I1,65.5,57.0,5430,8.01,7.95,5.23,True
13757,13758,2.22,Fair,J,I1,66.7,56.0,5607,8.04,8.02,5.36,True
13991,13992,2.01,Fair,I,I1,67.4,58.0,5696,7.71,7.64,5.17,True

### Exercise 1(e) (6 points)

Convert the `cut`, `color`, and `clarity` columns to 0-1 columns, and append them to the `diamonds` data frame. Then, drop `cut`, `color`, and `clarity` from the data frame.

In [26]:
dummies = pd.get_dummies(diamonds[['cut','color','clarity']], dtype=int, drop_first=True)
dummies.head()

,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_E,color_F,color_G,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0
1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0
2,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
3,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0
4,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0

In [29]:
diamonds = pd.concat([diamonds, dummies], axis=1)
diamonds.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,...,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,...,0,0,0,0,0,1,0,0,0,0
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,...,0,0,0,0,1,0,0,0,0,0
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,...,0,0,0,0,0,0,1,0,0,0
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,...,0,1,0,0,0,0,0,1,0,0
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,...,0,0,1,0,0,1,0,0,0,0

In [30]:
diamonds = diamonds.drop(columns=['cut', 'color', 'clarity'], axis=1)
diamonds.head()

,Unnamed: 0,carat,depth,table,price,x,y,z,flagging_carat,cut_Good,...,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,1,0.23,61.5,55.0,326,3.95,3.98,2.43,False,0,...,0,0,0,0,0,1,0,0,0,0
1,2,0.21,59.8,61.0,326,3.89,3.84,2.31,False,0,...,0,0,0,0,1,0,0,0,0,0
2,3,0.23,56.9,65.0,327,4.05,4.07,2.31,False,1,...,0,0,0,0,0,0,1,0,0,0
3,4,0.29,62.4,58.0,334,4.20,4.23,2.63,False,0,...,0,1,0,0,0,0,0,1,0,0
4,5,0.31,63.3,58.0,335,4.34,4.35,2.75,False,1,...,0,0,1,0,0,1,0,0,0,0

### Exercise 1(f) (4 points)

Create a lambda function called  `ratio` that computes the ratio of `depth` and `table`. Then, create a column called `depth/table`, using the `apply` function, that stores the values of `ratio` applied to the `diamonds` data frame.

In [31]:
ratio = lambda row: row['depth'] / row['table']

diamonds['depth/table'] = diamonds.apply(ratio, axis=1)

diamonds.head()

,Unnamed: 0,carat,depth,table,price,x,y,z,flagging_carat,cut_Good,...,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2,depth/table
0,1,0.23,61.5,55.0,326,3.95,3.98,2.43,False,0,...,0,0,0,0,1,0,0,0,0,1.118182
1,2,0.21,59.8,61.0,326,3.89,3.84,2.31,False,0,...,0,0,0,1,0,0,0,0,0,0.980328
2,3,0.23,56.9,65.0,327,4.05,4.07,2.31,False,1,...,0,0,0,0,0,1,0,0,0,0.875385
3,4,0.29,62.4,58.0,334,4.20,4.23,2.63,False,0,...,1,0,0,0,0,0,1,0,0,1.075862
4,5,0.31,63.3,58.0,335,4.34,4.35,2.75,False,1,...,0,1,0,0,1,0,0,0,0,1.091379

### Exercise 1(g) (4 points)

Create a lambda function called `vol` that computes the product of `x`, `y`, and `z`. Then, create a column called `volume`, using the `apply` function, that stores the values of `vol` applued to the `diamonds` data frame.

In [32]:
vol = lambda row: row['x'] * row['y'] * row['z']

diamonds['volume'] = diamonds.apply(vol, axis=1)

diamonds.head()

,Unnamed: 0,carat,depth,table,price,x,y,z,flagging_carat,cut_Good,...,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2,depth/table,volume
0,1,0.23,61.5,55.0,326,3.95,3.98,2.43,False,0,...,0,0,0,1,0,0,0,0,1.118182,38.202030
1,2,0.21,59.8,61.0,326,3.89,3.84,2.31,False,0,...,0,0,1,0,0,0,0,0,0.980328,34.505856
2,3,0.23,56.9,65.0,327,4.05,4.07,2.31,False,1,...,0,0,0,0,1,0,0,0,0.875385,38.076885
3,4,0.29,62.4,58.0,334,4.20,4.23,2.63,False,0,...,0,0,0,0,0,1,0,0,1.075862,46.724580
4,5,0.31,63.3,58.0,335,4.34,4.35,2.75,False,1,...,1,0,0,1,0,0,0,0,1.091379,51.917250

# Exercise 2

In this exercise, we will practice object-oriented-programming concepts.

### Exercise 2(a) (12 points)

Create a class called `DataProcessing`. The class should include the following methods:

- `__init__(self, data: pd.DataFrame)`: Initializes the class with a pandas DataFrame.
- `encode_categorical(self, columns)`: Encodes categorical columns using `get_dummies` encoding from `pandas`. 
- `volume(self)`: Computes the volume of the diamond as `x * y * z`.
- `ratio(self)`: Computes the ratio of `depth` and `table`.
- `stand(self)`: Computes the z-score standardization of `carat`. That is, `(carat - mean(carat)) / std(carat)`, where `mean` and `std` are the mean and standard deviation, respectively.
- `fe(self)`: Append the `volume` and `ratio` engineered features to the data frame. Also apply `stand`.

Implement the `DataProcessing` class with the above methods and demonstrate its usage with a sample DataFrame.

In [45]:
class DataProcessing:
    def __init__(self, data: pd.DataFrame):
        self.data = data
        
    def encode_categorical(self, columns):
        dummies = pd.get_dummies(self.data[[columns]], dtype=int, drop_first=True)
        self.data = pd.concat([self.data, dummies], axis=1)
        self.data = self.data.drop(columns=[columns], axis=1)
        return self
        
    def volume(self):
        self.data['volume'] = self.data['x'] * self.data['y'] * self.data['z']
    
    def ratio(self):
        self.data['depth/table'] = self.data['depth'] / self.data['table']
    
    def stand(self):
        self.data['stand'] = (self.data['carat'] - self.data['carat'].mean()) / self.data['carat'].std()
    
    def fe(self):
        self.volume()
        self.ratio()
        self.stand()

### Exercise 2(b) (2 points)

Using `read_csv` from `pandas`, read the `diamonds.csv` data file.

In [43]:
diamonds = pd.read_csv('diamonds.csv')
diamonds.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

### Exercise 2(c) (3 points)

Initialize the `DataProcessing` class, and then run the `fe` method on the data frame.

In [48]:
diamonds_processed = DataProcessing(diamonds)

diamonds_processed.fe()
diamonds_processed.data.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,volume,depth/table,stand
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,38.202030,1.118182,-1.198157
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,34.505856,0.980328,-1.240350
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,38.076885,0.875385,-1.198157
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,46.724580,1.075862,-1.071577
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,51.917250,1.091379,-1.029384